<settings>

    <setting propertyKey="@Properties.appVersion" title="@Strings.AppVersionTitle">
        <settingConfig type="alphaNumeric" readonly="true" />
    </setting>
    
    <setting propertyKey="@Properties.ForegroundColor" title="@Strings.ForegroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>        
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFAA00">@Strings.ColorYellow</listEntry>                        
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry> 
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>        
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFAA00">@Strings.ColorYellow</listEntry>                        
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>            
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.BackgroundImage" title="@Strings.BackgroundImageTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.BgImgNone</listEntry>
            <listEntry value="1">@Strings.BgImg1</listEntry>
            <listEntry value="2">@Strings.BgImg2</listEntry>
            <listEntry value="3">@Strings.BgImg3</listEntry>
            <listEntry value="4">@Strings.BgImg4</listEntry>
            <listEntry value="5">@Strings.BgImg5</listEntry>
            <listEntry value="6">@Strings.BgImg6</listEntry>                 
            <listEntry value="7">@Strings.BgImg7</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.UseDualTime" title="@Strings.DualTime">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.DualTimeTZ" title="@Strings.DualTimeTZ">
        <settingConfig type="numeric" required="true" min="-12" max="12" />
    </setting>

    <setting propertyKey="@Properties.DigitalClock" title="@Strings.DigitalClockTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.Use24hFormat" title="@Strings.Use24hFormatTitle">
        <settingConfig type="boolean" />
    </setting>
    
   	<setting propertyKey="@Properties.MountainMode" title="@Strings.MountainModeTitle">
        <settingConfig type="boolean" />
    </setting>

   	<setting propertyKey="@Properties.Steps" title="@Strings.StepsTitle">
        <settingConfig type="boolean" />
    </setting>

   	<setting propertyKey="@Properties.UseBackgroundColorWithImage" title="@Strings.UseBackgroundColorWithImageTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.UseSystemFont" title="@Strings.UseSystemFontTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UseBluetoothIcon" title="@Strings.UseBluetoothIconTitle">
        <settingConfig type="boolean" />
    </setting>

<setting propertyKey="@Properties.UseLargeDualTimeFont" title="@Strings.UseLargeDualTimeFontTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.DemoMode" title="@Strings.DemoModeTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
